.card {
    background-color: #f7f7f7; /* Lys grå bakgrunn */
    border-radius: 10px; /* Avrundede hjørner */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
  }
  
  .card legend {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card label {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  

  .checkbox-grid label {
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 3px;
    border-radius: 8px;
    background-color: #ffffff; /* Hvit bakgrunn inne i hver checkbox */
    border: 1px solid #ddd; /* Lys grå kant */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Lett skygge */
  }
  
  .checkbox-grid label:hover {
    background-color: #f0f0f0; /* Mørkere grå ved hover */
    cursor: pointer;
  }


  /* Flex-oppsett for grupper */
.checkbox-group {
    display: flex;
    justify-content: space-between; /* Plasser grupper på samme rad */
    flex-wrap: wrap; /* Tillat radbryting hvis nødvendig */
    gap: 10px;
    margin-bottom: 20px;
  }
  
.competition-selector {
  margin-bottom: 20px;
}
  